graft docs
graft src
graft tests

# Include the readme file
include README.rst
include LICENSE
include VERSION

include tox.ini .travis.yml .codeclimate.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
